{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<h2 class="display-4" style="text-align: center">
    About BeachFinder
</h2>

<p class="lead">
BeachFinder is a website created by Edwin Jin, Anthony Morales, and Andrew Nickerson, for our final CS50 project.
The goal of BeachFinder is to give you the latest information on beaches near you. Edwin Jin is planning on studying History, Andrew Nickerson on Applied Mathematics and Computer Science, and Anthony Morales on Economics
and Statistics with a track in Quantitative Finance. We were all inspired to create this website as we all
live near beaches in New York and California and love going to the beach with our friends and family. You can reach us at &nbsp;<a href="mailto:ejin@college.harvard.edu">ejin@college.harvard.edu</a>, &nbsp;<a href="mailto:anickerson@college.harvard.edu">anickerson@college.harvard.edu</a>,
and &nbsp;<a href="mailto:anthonymorales@college.harvard.edu">anthonymorales@college.harvard.edu</a>.
Special thanks to David Malan, Brian Yu, Sophie Edouard, Nikhil Dhamaraj, and all of the CS50 Staff for a great semester!
</p>

<div class="row">
    <div class="column">
        <img src="/static/eddie.jpg" alt="Eddie" width="230" height="240">
        <p class="name" style="text-align: center">
            Eddie Jin
        </p>
        <p style="text-align: center" class="email">
            <a href="mailto:ejin@college.harvard.edu">ejin@college.harvard.edu</a>
        </p>
    </div>

    <div class="column">
        <img src="/static/andrew.jpeg" alt="Andrew" width="190" height="240">
        <p class="name" style="text-align: center">
            Andrew Nickerson
        </p>
        <p style="text-align: center" class="email">
            <a href="mailto:anickerson@college.harvard.edu">anickerson@college.harvard.edu</a>
        </p>
    </div>

    <div class="column">
        <img src="/static/anthony.png" alt="Anthony" width="190" height="240">
        <p class="name" style="text-align: center">
            Anthony Morales
        </p>
        <p style="text-align: center" class="email">
            <a href="mailto:anthonymorales@college.harvard.edu">anthonymorales@college.harvard.edu</a>
        </p>
    </div>
</div>


{% endblock %}


